@page "/menu/edit/{id?}"
@using TeachingEvaluationSystem.Data;
@using Microsoft.AspNetCore.Components.Forms

@inject MenuService MenuService
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">名称</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="@Menu.Name">
</div>
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">路由</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="@Menu.Route">
</div>
<button class="btn btn-primary" @onclick="Save">保存</button>

@code {

    [Parameter]
    public string? Id { get; set; }
    public Edit()
    {
        Menu = new DB.Entitys.Menu();
    }
    public TeachingEvaluationSystem.DB.Entitys.Menu? Menu { get; set; }

    public async Task Save()
    {
        var isSuccess = await MenuService.Save(Menu);
        if (isSuccess)
        {
            await JS.InvokeVoidAsync("alert", "保存成功！");
            NavigationManager.NavigateTo("/role/index", false);
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "保存失败！");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var id = string.IsNullOrWhiteSpace(Id) ? 0 : int.Parse(Id);
        Menu = await MenuService.Get(id);
        if (Menu == null)
        {
            Menu = new DB.Entitys.Menu();
        }

    }
}
