@using TeachingEvaluationSystem.Data;
@inherits LayoutComponentBase
@inject GlobalInfo GlobalInfo
@inject NavigationManager NavigationManager
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <TLink @onclick='e=>NavigationManager.NavigateTo("login")'>
                @{
                    if (GlobalInfo.User == null)
                    {
                        var text = "登录";
                        @text;
                    }
                    else
                    {
                        @GlobalInfo.User.Name
                    }
                }
            </TLink>
            <a href="https://github.com/wuxinheng/TeachingEvaluationSystem" target="_blank">github</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
