<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        您有疑问请点击
        <a target="_blank" class="font-weight-bold link-dark" href="https://github.com/wuxinheng/TeachingEvaluationSystem/issues/new">这里</a>
    </span>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
