@page "/evaluationpage/index"
@using TeachingEvaluationSystem.DB.Entitys;
@using TeachingEvaluationSystem.Data;
@using TeachingEvaluationSystem.Model;
@inject UserClassesService UserClassesService
@inject NavigationManager NavigationManager

<h5>admin <span class="badge bg-secondary">1706</span></h5>
<TTable TItem="@ClassTeacherSubject" Data="@ClassTeacherSubjects" Striped>
    <FieldColumn Value="@context?.ClassName" Title="班级" />
    <FieldColumn Value="@context?.SubjectName" Title="学科" />
    <FieldColumn Value="@context?.UserName" Title="老师" />
    <FieldColumn Value="@context?.Score" Title="评分" />
    <FieldColumn Title="操作">
        @if (context is not null)
        {
            if (context.IsClose)
            {
                <TButton Theme="Theme.Primary" OnClick='e=>NavigationManager.NavigateTo($"/evaluationpage/evaluation/0/{1}/{context.ClassId}/{context.SubjectId}/{context.UserId}")'>查看</TButton>
            }
            else
            {
                <TButton Theme="Theme.Primary" OnClick='e=>NavigationManager.NavigateTo($"/evaluationpage/evaluation/1/{1}/{context.ClassId}/{context.SubjectId}/{context.UserId}")'>评价</TButton>
            }
        }
    </FieldColumn>
</TTable>

@code {
    public List<ClassTeacherSubject> ClassTeacherSubjects { get; set; }

    protected override void OnInitialized()
    {
        ClassTeacherSubjects = UserClassesService.GetClassTeacherSubjects(new User() { ClassId = 1 });
    }
}