@page "/question/index"

@*答题列表*@
@*<form>
  <fieldset>
    <legend>题目:老师教学是否专业？</legend>
    <div class="mb-3">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="disabledFieldsetCheck" name="www">
        <label class="form-check-label" for="disabledFieldsetCheck">
          Can't check this
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="disabledFieldsetCheck1" name="www">
        <label class="form-check-label" for="disabledFieldsetCheck1">
          Can't check this
        </label>
      </div>
    </div>
  </fieldset>
</form>*@