@page "/"

<h1>欢迎来到评鉴系统！</h1>
<TTable TItem="SystemInfo" Data="SystemInfos">
    <FieldColumn Value="context?.Project" Title="项目" />
    <FieldColumn Value="context?.Info" Title="运行信息">
        @if (context is not null)
        {
            if (context.Project == "Github")
            {
                <TLink Theme="Theme.Primary" Underline Href="@context?.Info">TeachingEvaluationSystem</TLink>
            }
            else if (context.Project == "开源协议")
            {
                <TLink Theme="Theme.Primary" Underline Href="@context?.Info">Apache Lincese 2.0</TLink>
            }
            else if (context.Project == "作者")
            {
                <TLink Theme="Theme.Primary" Underline Href="@context?.Info">wuxinheng</TLink>
            }
            else if (context.Project == "博客")
            {
                <TLink Theme="Theme.Primary" Underline Href="@context?.Info">xblogs.net</TLink>
            }
            else
            {
                @context?.Info
            }
        }


    </FieldColumn>
</TTable>
<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    List<SystemInfo> SystemInfos => new()
    {
        new SystemInfo{Project="日期",Info=DateTime.Today.ToString("D")},
        new SystemInfo{Project="运营时间",Info=$"{Math.Round(DateTime.Now.Subtract(DateTime.Parse("2023年2月21日")).TotalDays,2)}天" },
        new SystemInfo{Project="作者",Info="https://github.com/wuxinheng"},
        new SystemInfo{Project="Github",Info="https://github.com/wuxinheng/TeachingEvaluationSystem"},
        new SystemInfo{Project="开源协议",Info="https://github.com/wuxinheng/TeachingEvaluationSystem/blob/master/LICENSE"},
        new SystemInfo{Project="博客",Info="https://xblogs.net"},
    };

    class SystemInfo
    {
        public string Project { get; set; }
        public string Info { get; set; }
    }
}