@page "/"

<h1>欢迎来到评鉴系统！</h1>
<TTable TItem="SystemInfo" Data="SystemInfos">
    <FieldColumn Value="context?.Project" Title="项目" />
    <FieldColumn Value="context?.Info" Title="运行信息" />
</TTable>
<SurveyPrompt Title="How is Blazor working for you?" />
@code {
    List<SystemInfo> SystemInfos => new()
    {
        new SystemInfo{Project="日期",Info=DateTime.Today.ToString("D")},
        new SystemInfo{Project="运营时间",Info=$"{Math.Round(DateTime.Now.Subtract(DateTime.Parse("2023年2月21日")).TotalDays,2)}天" },
        new SystemInfo{Project="作者",Info="wuxinheng"},
        new SystemInfo{Project="Github",Info="赵六"},
        new SystemInfo{Project="开源协议",Info="Apache Lincese 2.0"},
    };

    class SystemInfo
    {
        public string Project { get; set; }
        public string Info { get; set; }
    }
}