@page "/login"
@using Microsoft.AspNetCore.Components.Forms

@inject LoginService LoginService
@inject NavigationManager NavigationManager
@inject IJSRuntime JS


<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">用户名</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="@User.Name">
</div>
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">密码</label>
    <input type="password" class="form-control" id="exampleInputPassword1" @bind="@User.Password">
</div>
<button class="btn btn-primary" @onclick="Submit">登录</button>

@code {
    public Login()
    {
        User = new DB.Entitys.User();
    }
    public TeachingEvaluationSystem.DB.Entitys.User User { get; set; }
    public async Task Submit()
    {
        var isExist = await LoginService.Login(User);
        if (isExist)
        {
            NavigationManager.NavigateTo("", true);
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "账号密码不正确！");
        }
    }
}
